.col-12

  .alert.alert-secondary.mt-4
    h5.mb-3 Delete Entire Tournament
    p
      | Deleting a tournament is <strong>permanent and cannot be undone.</strong> All data associated with the tournament will be lost.
    p.w-100
      | If you are sure you want to delete this tournament, please type the tournament name exactly below, click "Delete Tournament", and then confirm.
    = simple_form_for :tournament, url: tournament_path(@tournament), method: :delete do |f|
      = hidden_field_tag :name_for_confirmation, @tournament.name, id: 'name_for_confirmation'

      .d-flex.flex-column.align-items-center
        = f.input_field :name,
                class: 'form-control w-75 mb-3',
                id: 'tournament_name',
                value: '',
                placeholder: 'Enter tournament name to confirm deletion'
        = button_tag type: :submit, id: 'delete_tournament_button', class: 'btn btn-danger text-nowrap', disabled: true, data: { confirm: 'Are you absolutely sure? This cannot be reversed.' } do
          => fa_icon 'trash'
          | Delete Tournament
      javascript:
        $('#tournament_name').on('input', function() {
          // The hidden form element will be html-encoded, so decode for a proper match.
          const matches = $(this).html($(this).val()).text() === $('#name_for_confirmation').val();
          $('#delete_tournament_button').prop('disabled', !matches);
        });

  - @tournament.stages.each do |stage|
    - input_id = "tournament_stage_name_#{stage.id}"
    - hidden_id = "name_for_confirmation_#{@tournament.id}_#{stage.id}"
    - button_id = "delete_stage_button_#{stage.id}"

    .alert.alert-secondary.mt-4
      h5.mb-3 Delete #{stage.format.titleize} Stage
      p
        | Deleting a stage is <strong>permanent and cannot be undone.</strong> All data associated with this stage will be lost.
      p.w-100
        | If you are sure you want to delete this stage, please type the tournament name exactly below, click "Delete #{stage.format.titleize} Stage", and then confirm.
      = simple_form_for :stage, url: tournament_stage_path(@tournament, stage), method: :delete do |f|
        = hidden_field_tag :name_for_confirmation, @tournament.name, id: hidden_id

        .d-flex.flex-column.align-items-center
          = f.input_field :name,
                  class: 'form-control w-75 mb-3',
                  id: input_id,
                  value: '',
                  placeholder: 'Enter tournament name to confirm deletion'
          = button_tag type: :submit, id: button_id, class: 'btn btn-danger text-nowrap', disabled: true, data: { confirm: 'Are you absolutely sure? This cannot be reversed.' } do
            => fa_icon 'trash'
            | Delete #{stage.format.titleize} Stage
        javascript:
          $('#' + '#{input_id}').on('input', function() {
            const matches = $(this).html($(this).val()).text() === $('#' + '#{hidden_id}').val();
            $('#' + '#{button_id}').prop('disabled', !matches);
          });