#my_tournament_anchor.col-12 data-tournament-id="#{@tournament.id}" data-tournament-url="#{tournament_path(@tournament)}" data-my-tournament="#{@my_tournament_data.to_json}"

= content_for :head do
  = vite_typescript_tag 'my_tournament', 'data-turbolinks-track': 'reload'

