#tournament_list_anchor.col-12 data-type-id="#{@type_id}" data-user-id="#{current_user&.id}" data-user-name="#{current_user&.nrdb_username}"

= content_for :head do
  = vite_typescript_tag 'tournament_list', 'data-turbolinks-track': 'reload'
